.containerWelcomeHome {  
  padding: 14% 8.8%;
  background: #F8F8F8;
  border-radius: 30px;
}
.title {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #121417;
  margin-bottom: 4.4%;
}
.language {
  display: inline-block;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.02em;
  /* text-align: left; */
  border-radius: 8px;
  opacity: 0px;
  padding: 0 5px;
  color: #121417;
  background: #fbe9ba;
  /* margin-left: 7px; */
}
.text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #121417;
  margin-bottom: 8.8%;
}
.button {
  width: 267px;
  height: 60px;
  padding: 16px 84px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #121417;
  background: #f4c550;
  border: none;
}
