.container {
  display: grid;
  grid-template-columns: minmax(320px, 720px) minmax(320px, 568px);
  justify-content: center;
  gap: 1.66%;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
