.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.HomelayoutContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .container {
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    flex-direction: row;
    gap: 32px;
  }
}
