.homeLink {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  cursor: pointer;
}
.logo {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #121417;
}
@media screen and (min-width: 768px) {
  .homeLink {
    width: 269px;
  }
}
