.singOut {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #121417;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  order: 3;
  transition: color 0.3s ease;
}
.icon {
  fill: #f4c550;
  transition: fill 0.3s ease;
}
.singOut:hover {
  color: #f4c550;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .singOut {
    order: 0;
  }
}
