.authContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.icon {
  fill: #f4c550;
}
.login {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #121417;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.login:hover {
  color: #f4c550;
  text-decoration: underline;
}
.registration {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  padding: 8px;
  border-radius: 12px;
  background-color: #121417;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.registration:hover {
  color: #f4c550;
  background-color: #37260e;
}
@media screen and (min-width: 768px) {
  .authContainer {
    gap: 16px;
  }
  .login {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #121417;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .registration {
    font-weight: 700;
    width: 166px;
    padding: 14px 39px;
  }
}
