.teacherCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  list-style-type: none;
  margin-bottom: 4.5%;
}
.teacherCardItem {
  min-width: 280px;
  display: grid;
  padding: 10px;
  background-color: #fff;
  border-radius: 24px;
  display: grid;
  row-gap: 10px;
  grid-template-rows: auto auto;
}
.avatarBox {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 3px solid #fbe9ba;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 96px;
  height: 96px;
  border-radius: 100px;
}
.infoTeacherContainer {
  margin-bottom: 32px;
}
.teacherInfo {
  list-style-type: none;
  margin-bottom: 16px;
}
.teacherInfoItem {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #8a8a89;
}
.teacherInfoItem:not(:last-child) {
  margin-bottom: 8px;
}
.teacherInfoValue {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #121417;
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #121417;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-bottom: 32px;
  outline: none;
}
.button:hover {
  color: #f4c550;
}
.levelContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 32px;
}
.levelItem {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #121417;
  border: 1px solid #c8c8c8;
  padding: 8px 12px;
  border-radius: 35px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.levelItem:first-child {
  background-color: #f4c550;
  border: none;
}
.buttonTrial {
  width: min-content;
  height: 60px;
  padding: 16px 3.33%;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #121417;
  background: #f4c550;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  cursor: pointer;
  outline: none;
}
.buttonTrial:hover {
  background-color: #ffdc86;
}

@media screen and (min-width: 768px) {
  .teacherCardItem {
    width: 704px;
    grid-template-columns: 120px auto;
    column-gap: 48px;
    row-gap: 0;
    padding: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .teacherCardItem {
    width: 1184px;
  }
}
