.teacherContainer {
  padding: 6.6% 8.8%;
  background: #f8f8f8;
  position: relative;
}
.buttonMore {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  padding: 16px 48px;
  border-radius: 12px;
  color: #121417;
  background-color: #f4c550;
  transition: background-color 0.3s ease;
  border: none;
  margin: 0 auto;
}
.buttonMore:hover {
  background-color: #ffdc86;
}
