.container {
  margin-bottom: 32px;
}
.cardHeaderContainer {
  display: grid;
  justify-content: space-between;
  gap: 16px;
  align-items: start;
}
.lang {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #8a8a89;
  margin-bottom: 8px;
}
.name {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #121417;
}
.details {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 16px;
  list-style-type: none;
}
.detailsItem {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #121417;
}
.greenText {
  color: #38cd3e;
}
.icon {
  fill: #fff;
  stroke: #121417;
}
.iconStar {
  fill: #ffc531;
}
.iconHeart {
  fill: #fff;
  stroke: #121417;
  transition: fill 0.3s ease;
}
.iconHeartFavourite {
  fill: #ffc531;
  stroke: #ffc531;
  transition: fill 0.3s ease;
}
.iconHeart:hover {
  fill: #f4c550;
  stroke: #f4c550;
}
.buttonFavourite {
  border: none;
  background-color: transparent;
  display: inline-flex;
}
.customNotification {
  background-color: #ffc531 !important;
  color: #000;
  padding: 18px 18px 18px 18px;
  font-size: 18px;
  font-weight: 500;
  width: 325px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cardHeaderContainer {
    grid-template-columns: repeat(3, auto);
  }
}
